# Entorno virtual
env_priority/

# Archivos de Python
__pycache__/
*.py[cod]
*.so

# Archivos de entorno
.env
*.env

# Archivos de configuración de editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Compilados / paquetes
dist/
build/
*.egg-info/

# Cachés
.cache/
.mypy_cache/
.pytest_cache/